.endprimers{
    overflow:auto;
    height: 96vh;
    white-space: nowrap;
    margin-right: 12px;
}

.endprimers ul {
    margin: 0 0 0 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    box-sizing: border-box;
    border: solid 3px black;
    background: orange;
}

.endprimers ul li{
    padding: 4px;
    margin-bottom: 4px;
}

.endprimers ul li a{
    color: black;
}

.endprimers ul li a:hover{
    background: orange;
}